@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sistema LS<br />
    Lázaro, ZAP 11-98268-3988<br />
    <abbr title="Telefone">P:</abbr>
    98268-3988
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:suporte@gmail.com">Suporte@gmail.com</a><br />
    <strong>Vendas:</strong> <a href="mailto:vendasls@hotmail.com">vendasls@hotmail.com</a>
</address>
